use flake

# source .envrc.local if it exists
if [ -f .envrc.local ]; then
  source .envrc.local
fi

# BOOST NEU/UI ENDPOINT
export NEU="f183d8f3-a966-49cd-b175-817a0a88cc3c"
export UI="39dd0982-d784-11e6-9cd4-22000a1e3b52"

# Globus Client Credentials (for background sync)
export GLOBUS_CLIENT_ID=""
export GLOBUS_CLIENT_SECRET=""
